@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&family=Mukta:wght@200;400&family=Overpass:wght@200&family=Solway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&family=Mukta:wght@200;400&family=Overpass:wght@200&family=Signika+Negative:wght@500&family=Solway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&family=Montserrat:wght@300;600&family=Mukta:wght@200;400&family=Overpass:wght@200&family=Signika+Negative:wght@500&family=Solway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Jost:wght@300&family=Montserrat:wght@300;600&family=Mukta:wght@200;400&family=Overpass:wght@200&family=Rubik+Vinyl&family=Signika+Negative:wght@300;500&family=Solway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&family=Montserrat:wght@300;600&family=Mukta:wght@200;400&family=Overpass:wght@200&family=Signika+Negative:wght@300;500&family=Solway&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
.nav{
    padding: 10px 10%;
    background-color: #e7e7f6;
}

/* .capital{
    color: #4644a8;
    font-size: 45px;
    font-family: 'Signika Negative', sans-serif;
}
.small{
font-size: 45px;
font-family: 'Signika Negative', sans-serif;
} */
.brand{
    width:180px;
    display: flex;
    font-family: 'Signika Negative', sans-serif;
}
.brand img{
    width: 40%;
}

/* .container{
    padding: 10px 10%;
   
} */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
<<<<<<< HEAD
    /* flex-wrap: wrap; */
    /* position: fixed; */

    /* font-family: 'Signika Negative', sans-serif; */
=======
    flex-wrap: wrap;
>>>>>>> 547b9eeabe357e4364d22ebbebf160a3d15c51b7
}
.navbar{
    z-index: 99999;
}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 18px;
    position: relative;
    font-family: 'Signika Negative', sans-serif;
}
nav ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background:#4644a8;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: .5s;
}
nav ul li a:hover::after{
    width: 100%;
}

nav .fa-solid{
    display: none;
}

#header{
    width: 100%;
    height: 100vh; 

}
.container{
    padding: 10px 6%;
   
}
.header-text{
    max-width:100%;
   /* margin-top: 20%; */
   display:flex;
   /* flex-direction: column-reverse; */
   flex-direction: row;
   font-size: 30px;
   font-family: 'Signika Negative', sans-serif;
}
.header-text h1 p{
   font-size: 54px;
   margin-top: 20px;
   font-family: 'Signika Negative', sans-serif;
}
.header-text h1 span{
   color: #4644a8;
   font-family: 'Signika Negative', sans-serif;
}
.header-text h1{
    font-family: 'Signika Negative', sans-serif;
    font-size: 54px;
}
.box1{
    max-width: 100%;
    margin-top: 7%;
    /* padding: 20px; */
}
.box2{
    max-width: 50%;
    margin-top: 5%;
 
}
.box2 img{
    width: 580px;
   
}
.half1{
    max-width: 50%;
    margin-top: 5%;
    margin-right: 5%;



}
.half1 img{
    width: 520px;

    /* margin-right: 10%; */
   
}
.half2{
    max-width: 100%;
    margin-top: 4%;
    padding: 4%;
    margin-right: 4%;
}
.half2 p{
    font-size: 54px;    
}
.half2 p span{
    font-size: 54px;
}
.para{
    margin-top: 5%;
    justify-content: center;
    text-align:justify;
    /* margin-top: 15px;  */
}
.content{
    color: #8c8b9e;
    font-size: 22px;
    font-family: 'Signika Negative', sans-serif;
    padding: 0;
    /* margin-bottom: 25px; */
    /* font-family: 'Indie Flower', cursive; */
    
}

.btn{
    display: block;
    margin-top: 20px;
    width: fit-content;
    border: 1px solid #4644a8;
    padding: 14px 50px;
    border-radius: 13px;
    text-decoration: none;
    color: #4644a8;
    transition: 0.5s;
    font-family: 'Signika Negative', sans-serif;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 0 5px 5px;
}
.btn:hover{
    background-color: #4644a8;
    color: black;
}
.header-text2{
    max-width:100%;
   /* margin-top: 20%; */
   display:flex;
   /* flex-direction: column-reverse; */
   flex-direction: row;
   font-size: 30px;
   font-family: 'Signika Negative', sans-serif;
}
.header-text2 h1 p{
   font-size: 45px;
   margin-top: 20px;
   font-family: 'Signika Negative', sans-serif;
}
.header-text2 h1 span{
   color: #4644a8;
   font-family: 'Signika Negative', sans-serif;
}
.header-text2 h1{
    font-family: 'Signika Negative', sans-serif;
}
.para2{
    margin-top: 5%;
    width: 100%;
    /* justify-content: center;
    text-align:justify; */
    /* padding: 10%; */
}
.content2{
    color: #8c8b9e;
    font-size: 20px;
    justify-content: center;
    text-align:justify;
    font-family: 'Signika Negative', sans-serif;
}
.btn2{
    display: block;
    margin-top: 20px;
    width: fit-content;
    border: 1px solid #4644a8;
    padding: 14px 50px;
    border-radius: 13px;
    text-decoration: none;
    color: #4644a8;
    transition: 0.5s;
    font-family: 'Signika Negative', sans-serif;
    font-size: 20px;
    cursor: pointer;
}
.btn2:hover{
    background-color: #4644a8;
    color: black;
}
.header-text3{
    max-width:100%;
   /* margin-top: 20%; */
   /* display:flex; */
   /* flex-direction: column-reverse; */
   flex-direction: row;
   font-size: 30px;
   font-family: 'Signika Negative', sans-serif;
}
.header-text3 h1 p{
   font-size: 54px;
   margin-top: 20px;
   font-family: 'Signika Negative', sans-serif;
}
.header-text3 h1 span{
   color: #4644a8;
   font-family: 'Signika Negative', sans-serif;
}
.header-text3 h1{
    font-family: 'Signika Negative', sans-serif;
}
.upperhalf{
    max-width: 100%;
    /* margin-top: 4%;  */
    padding: 4%;
    /* margin-left: 4%; */
    justify-content: center;
    text-align:center;
}
.para2{

    width: 100%;
        justify-content: center;
        text-align:center;
    
}
.content3{
    color: #8c8b9e;
    font-size: 20px;
    font-family: 'Signika Negative', sans-serif;
}
.content3 span{
    font-weight: bolder;
}

.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px , 1fr));
    grid-gap:100px;
    font-family: 'Signika Negative', sans-serif;
    /* box-shadow: 10px 10px; */

}
.shadow{
    box-shadow: 0px 0px 6px 6px;
    background-color:#e7e7f6
}
.sub-titles{
    font-size: 54px;
    font-weight: 600;
    font-family: 'Signika Negative', sans-serif;
    
}
.services-list div{
    background: #e7e7f6;
    /* width:100%; */
    padding: 40px;
    font-size: 20px;
    font-weight: 300;
    border-radius: 10px;
    justify-content: center;
    text-align: center;
    transition: background 0.5s , transform 0.5s;
}
.services-list img{
    width: 70%;
}
.services-list h2{
    font-family: 'Signika Negative', sans-serif;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list div:hover{
    background: #4644a8;
    transform: translateY(-10px);
}

.btn3{
    /* display: block; */
    display: inline-block;
    
    margin-top: 20px;
    width: fit-content;
    border: 1px solid #4644a8;
    padding: 14px 50px;
    border-radius: 13px;
    text-decoration: none;
    color: #4644a8;
    transition: 0.5s;
    font-family: 'Signika Negative', sans-serif;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 0 2px 2px;
    
}
.btn3:hover{
    background-color: #4644a8;
    color: black;
    /* box-shadow: 0 0 3px 3px; */
}

.btnIN{
    margin-left: 30px;
    margin-top: 20px;
    width: fit-content;
    border: 1px solid #4644a8;
    padding: 14px 50px;
    border-radius: 13px;
    text-decoration: none;
    color: #4644a8;
    transition: 0.5s;
    font-family: 'Signika Negative', sans-serif;
    font-size: 20px;
    cursor: pointer;
}
.btnIN:hover{
    background-color: #4644a8;
    color: black;
}

.header-text5{
    max-width:100%;
    font-size: 30px;
    font-family: 'Signika Negative', sans-serif;
    margin-top: 40px;
    /* padding: %; */
}
.fatherdabba{
    display: flex;
    /* max-width:100% ; */
    
}
.dabba1 h2{
    font-size: 35px;
}

.dabba2{
    margin-left: 12%;
    /* padding: 10px  ; */
}
.dabba2 h2{
    font-size: 35px;
}
.dabba3{
    margin-left: 18%;
    /* padding: 10px  ; */
}
.dabba3 h2{
    font-size: 35px;
}
.kiet div{
    justify-content: center;
    text-align: left;
    font-size:15px;
    color: #8c8b9e;
    /* margin-left: 50px; */
}
.kiet p{
    font-size: 18px;
    color: #8c8b9e;
}
.kiet i{
    font-size: 18px;
    /* color: #8c8b9e; */
}

p .line1{
    margin-left: 20px;
}
.recieve{
    font-size: 18px;
    margin-top: 10px;
    color: #8c8b9e;
}
.input{
    margin-top: 20px;
    width: fit-content;
    border: 2px solid #201dd0;
    padding: 14px 30px;
    border-radius: 10px;
   
    text-decoration: none;
    /* color: #4644a8; */
    background-color: #e7e7f6;
    transition: 0.5s;
    font-family: 'Signika Negative', sans-serif;
    font-size: 20px;
    cursor: pointer;
    /* display: inline-block; */
}
.btnOUT{
    /* margin-left: 30px; */
    margin-top: 20px;
    width: fit-content;
    border: 1px solid #4644a8;
    padding: 14px 50px;
    border-radius: 13px;
    text-decoration: none;
    color: #4644a8;
    transition: 0.5s;
    font-family: 'Signika Negative', sans-serif;
    font-size: 20px;
    cursor: pointer;
    box-shadow:0 0 2px 2px;
}
.btnOUT:hover{
    background-color: #4644a8;
    color: black;
}
.to{
    display: inline-block;
}
.social-icons{
    margin-top: 15px;

}
.social-icons a{
    text-decoration: none;
    margin-right: 15px;
    color: #000000;
    display: inline-block;
    font-size: 25px;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: #201dd0;
    transform: translateY(-5px)
}  
.fa-solid{
    font-size: 25px;
    color: #000000;
} 
.list{
    display: flex;

}
.list ul{
    text-decoration: none;
    list-style: none;
    font-size: 18px;
    margin-top: 10px;
    color: #8c8b9e;
}
.list li{
    margin: 10px;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    font-size: 15px;
    color: #8c8b9e;
    font-family: 'Signika Negative', sans-serif;
}
.copyright i{
    color: #fc0303;
    font-size: 20px;
}


@media only screen and (max-width: 850px){
   
    nav .fa-solid{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: #e7e7f6;;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh; 
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul li a{
        color: rgb(2, 2, 2);
    }
    
    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .header-text{
        display:flex;
        flex-direction:column-reverse;
    }
    .header-text2{
        display:flex;
        /* font-size: 50px; */
        flex-direction:column;
    }
    .content{
        font-size: 20px;
    }
    .content2{
        font-size: 20px;
    }
    .content3{
        font-size: 20px;
    }
    .box2 img{
        width:330px;
        
    }
    .half1 img{
        width:330px;
    }
  .fatherdabba{
    display: flex;
    flex-direction: column;
  }
  .dabba1{
    padding: 10px 0 14%;
  }
  .dabba2{
    margin-left: 0%;
    padding: 10px 0 14%;
}
.dabba3{
    margin-left: 0%;
    padding: 10px 0 ;
}
.btnIN{
    margin-left: 0;
}

    
}

